
<html>
<head>
    <title>Action Logs</title>
</head>
<body>


    <h1>Action Logs</h1>
    <table border="1" cellpadding="8">
        <tr>
            <th>Action</th>
            <th>Performed By</th>
            <th>Timestamp</th>
            <th>Order ID</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.action }}</td>
            <td>{{ log.performed_by }}</td>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.order_id }}</td>
        </tr>
        {% endfor %}
    </table>


    <br>
    <a href="/">← Back to Orders</a>
</body>
</html>
